*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************
        header
************************/
header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #333;;
    color: white;
    align-items: center;
    z-index: 5000;
}
h1 {
    display: flex;
    align-items: center; /* Centra verticalmente el ícono y el texto */
    font-size: 1.5em;
    gap: 0.5em; /* Espaciado entre el ícono y el texto */
}

h1 img {
    width: 40px; /* Ajusta el tamaño del ícono */
    height: 40px;
}
.menu{
    display: flex;
    list-style: none;
    margin-right: 10px;
}
.menu-item{
    padding: 0.6em;
    text-align: center;
}
.menu-item_link{
    text-decoration: none;
    cursor: pointer;
    color: azure;
}

/*  menu fixed desplazamiento   */
#menu{
    position: fixed;
    top: 0;
    width: 100%;
    /* transition: all 0.5s linear; */
    transition: all 0.5s ease-in-out;
    opacity: 1;
    visibility: visible;
}
#menu.hide{
    /* transform: translateY(-100%); */
    /* para deslizar menu hacia arriba ojo con padding */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
/* Espacio para el menú fijo */
main {
    padding-top: 80px; 
}

/*  HAMBURGUESA  */
.abrir-menu{
    display: none; /* Se muestra solo en pantallas pequeñas */
    position: absolute; /* Posición relativa al header */
    top: 50%; /* Centra verticalmente el ícono */
    right: 1em; /* Se alinea al borde derecho con un margen */
    transform: translateY(-50%); /* Ajusta el centrado vertical exacto */
    cursor: pointer;

}
.burger{
    padding: 0.2em;
    font-size: 1.5em;
    border: #333;
}

.cerrar-menu{
    font-size: 1.2em;
    display: none;;
}
#nav{
    transition: all 0.5s linear;
}

/***************************
    Contenido Productos
***************************/

.producto{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    padding: 2em;
}

/* Estilo para cada item */
.producto-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 300px; /* Fija un mínimo alto */
    min-width: 200px; /* O el ancho deseado */
}
.producto-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


/* Imagen del producto */
.producto-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 0.5em;
    width: 170px;
    height: 370px;
    object-fit: fill;
}

/* Título */
.producto-item h3 {
    font-size: 1em;
    margin: 0.5em 0;
    color: #333;
    /* color oscuro para el titulo */
}

/* Descripción */
.producto-item p {
    font-size: 0.9em;
    color: #666;
    /* color un poco mas claro para descripcion */
    margin: 0.5em 0;
}

/* Precio y descuento */
.producto-item .precio {
    font-weight: bold;
    font-size: 1.1em;
    color: #27ae60; /* Verde para precio */
}
.producto-item .descuento {
    font-size: 0.9em;
    color: #e74c3c; /* Rojo para descuento */
}

/* Mini formulario */
.producto-item form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.producto-item form input[type="number"] {
    width: 50px;
    padding: 0.3em;
    margin-bottom: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}
.producto-item form button {
    background-color: #5dade2;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.producto-item form button:hover {
    background-color: #2277b0;
}

/* .precio-compra{
    position: relative;
    bottom: 0;
} */

/***************************
        Footer
***************************/
footer {
    background: #333;
    color: azure;
    text-align: center;
    padding: 1em 0;
}

/***************************
        Mediaquerys
***************************/
@media (min-width: 769px) and (max-width: 1024px) {
    .producto{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 768px) {
    /* solo menu hamburguesa */
    .abrir-menu, .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        /* ver deformacion*/
        background-color: transparent;
        cursor: pointer;
        color: azure;
    }
    .menu{
        flex-direction: column;
    }
    nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: fixed;
        /* arrancar arriba de pantalla y a la derecha */
        top: 0;
        right: 0;
        /* left: 0; */
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        z-index: 2000;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5)
    }
    nav.visible{
        opacity: 1;
        visibility: visible;
    }

    /* tabla productos */
    .producto{
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media screen and (max-width: 576px) {
    /* tabla productos */
    .producto{
        grid-template-columns: repeat(2, 1fr);
    }
}