*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************
        header
************************/
header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #333;;
    color: white;
    align-items: center;
}
h1 {
    display: flex;
    align-items: center; /* Centra verticalmente el ícono y el texto */
    font-size: 1.5em;
    gap: 0.5em; /* Espaciado entre el ícono y el texto */
}

h1 img {
    width: 40px; /* Ajusta el tamaño del ícono */
    height: 40px;
}
.menu{
    display: flex;
    list-style: none;
    margin-right: 10px;
}
.menu-item{
    padding: 0.6em;
    text-align: center;
}
.menu-item_link{
    text-decoration: none;
    cursor: pointer;
    color: azure;
}

/*  menu fixed desplazamiento   */
#menu{
    position: fixed;
    top: 0;
    width: 100%;
    /* transition: all 0.5s linear; */
    transition: all 0.5s ease-in-out;
    opacity: 1;
    visibility: visible;
}
#menu.hide{
    /* transform: translateY(-100%); */
    /* para deslizar menu hacia arriba ojo con padding */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
/* Espacio para el menú fijo */
main {
    padding-top: 80px; 
}

/*  HAMBURGUESA  */
.abrir-menu{
    display: none; /* Se muestra solo en pantallas pequeñas */
    position: absolute; /* Posición relativa al header */
    top: 50%; /* Centra verticalmente el ícono */
    right: 1em; /* Se alinea al borde derecho con un margen */
    transform: translateY(-50%); /* Ajusta el centrado vertical exacto */
    cursor: pointer;

}
.burger{
    padding: 0.2em;
    font-size: 1.5em;
    border: #333;
}

.cerrar-menu{
    font-size: 1.2em;
    display: none;;
}
#nav{
    transition: all 0.5s linear;
}

/***************************
        Footer
***************************/
footer {
    background: #333;
    color: azure;
    text-align: center;
    padding: 1em 0;
}

/***************************
        Mediaquerys
***************************/
@media screen and (max-width: 768px) {
    .abrir-menu, .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        /* ver deformacion*/
        background-color: transparent;
        cursor: pointer;
        color: azure;
    }
    .menu{
        flex-direction: column;
    }
    nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: fixed;
        /* arrancar arriba de pantalla y a la derecha */
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        z-index: 1000;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5)
    }
    nav.visible{
        opacity: 1;
        visibility: visible;
    }

}